/* == Avatar =============================================================== */

#avatar {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  border: var(--borderWidth) solid var(--accent1Translucent);
  padding: 0.5rem 0 .2rem;
  height: 4rem;
  width: 4rem;
  background-color: var(--background);

  &[data-large="true"] {
    height: 5rem;
    width: 5rem;
  }

  svg {
    margin: 0 auto;

    .background-one {
      fill: var(--accent1);
    }

    .background-two {
      fill: var(--accent2);
    }

    .main,
    .accent {
      fill: var(--foreground);
    }
  }
}

[data-theme="dark"] #avatar {
  background-color: var(--foreground);

  svg .main,
  svg .accent {
    fill: var(--background);
  }
}