@use "sass:map";
@use "sass:color";
@use "../foundation/abstracts" as *;


/* == Header =============================================================== */

#siteHeader {
  .widthContainer {
    padding: var(--mainPadding) 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  
    @media (max-width: map.get($breakpoint, "md")) {
      padding: var(--mainPadding) 0.5rem;
    }
  
    @media (max-width: calc(map.get($breakpoint, "xs") - 1px)) {
      nav {
        z-index: 1;
        position: fixed;
        inset: 0 0 0 30%;
        padding: min(20vh, var(--mainPadding) * 8) min(10vw, var(--mainPadding) * 1.5);
        background-color: var(--menu-background-heavy);
        transform: translateX(110%);
        @media (prefers-reduced-motion: no-preference) {
          & {
            transition: transform 0.3s ease-out;
          }
        }

        @supports (backdrop-filter: blur(1rem)) {
          & {
            background-color: var(--menu-background-light);
            backdrop-filter: blur(1rem);
            filter: drop-shadow(1px 2px 3px hsl(0 0% 0% / 0.5));
          }
        }

        &[data-visible="true"] {
          transform: translateX(0%);
        }
      }

      .nav {
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
        justify-content: flex-start;
        margin: 0;
        
        a {
          font-size: var(--h3Size);
          line-height: var(--h3LineHeight);
        }
      }

      .headerControls {
        .theme-toggle:not(:first-child) {
          margin-inline-end: calc(var(--mainMargin) * 4);
        }

        .mobile-nav-toggle {
          z-index: 9999;
          position: absolute;
          right: 0rem;
          top: calc(var(--mainMargin) * 0.75);

          display: flex;
          align-items: center;
          justify-content: center;
        }

        [data-visible="true"] + .mobile-nav-toggle {
          position: fixed;
        }
      }
    }

    @media (min-width: map.get($breakpoint, "xs")) {
      .nav {
        display: flex;
        flex-flow: row nowrap;
        gap: calc(var(--mainPadding) * 2);

        .arrow {
          display: none;
        }
      }

      .headerControls {
        display: flex;
        flex-flow: row nowrap;
        gap: calc(var(--mainPadding) * 2);
        align-items: center;

        .mobile-nav-toggle {
          display: none;
        }
      }
    }
  }
}
