/* == Navigation =========================================================== */

.nav {
  list-style: none;
  padding-left: 0;
  margin: 0;

  a {
    display: flex;
    color: var(--accent1);
    line-height: 1.25rem;
    text-transform: uppercase;
    align-items: center;
  
    .arrow {
      display: inline-block;
      margin-right: 5px;
    }
  
    &:hover,
    &:active {
      color: var(--accent1-hover);
    }
  }
}
