@use "sass:map";
@use "../foundation/abstracts" as *;


/* == Social Links ========================================================= */

.socialNav {

  a {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  
    & > svg {
      font-size: calc(var(--fontBase) * 1.1);
      stroke-width: 2px;
    }
  
    & > .name {
      margin-right: 0.5em;
    }
  
    @media (min-width: map.get($breakpoint, "xs")) {
      display: block;
      text-align: center;
      
      & > svg {
        font-size: var(--h3Size);
        stroke-width: 1px;
      }
      
      & > .name {
        margin: 0;
        display: none;
      }
    }
  }
}
