@use "sass:map";
@use "../foundation/abstracts" as *;


/* == Home ONLY Styles ===================================================== */

#home {
  main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  
    .homeHeader {
      font-size: var(--h1Size);
      line-height: var(--h1LineHeight);
    }
  
    .nav {
      a {
        font-family: var(--mainFontFamily);
        font-size: var(--h3Size);
        line-height: 2.25rem;
        text-transform: capitalize;
        font-weight: 300;
    
        .arrow {
          font-family: var(--codeFontFamily);
        }
      }
    
      a[href="/"] {
        display: none;
      }
    }
  }
    
  .socialNav {
    margin: 0 auto;
    padding: 0.5rem 0;
    width: 100%;
    max-width: map.get($breakpoint, md);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    a {
      & > svg {
        font-size: var(--h2Size);
        stroke-width: 1px;
      }

      & > .name {
        display: none;
      }
    }

    @media (max-width: map.get($breakpoint, "xs")) {
      padding: 0.5rem;
    }
  }
}
