@use "sass:map";
@use "../foundation/abstracts" as *;


/* == Primary ONLY Styles ===================================================== */

#primary {
  :where(.about, .blog, .notes, .projects, .random) {
    .widthContainer {
      padding: 0 0 var(--mainPadding) 0;
      border-top: 1px solid var(--card);
      border-bottom: 1px solid var(--card);

      @media (max-width: map.get($breakpoint, "md")) {
        padding: 0 0.5rem;
      }
    }
  }

  :where(.content) {
    .widthContainer {
      padding: 0 0 var(--mainPadding) 0;
      border-bottom: 1px solid var(--card);
    }

    &.borderTop .widthContainer  {
      border-top: 1px solid var(--card);
      padding-top: calc(var(--mainPadding) * 1.5);
    }
  }

  .projects {
    .tldr {
      margin-top: 0;
    }
  }

  .previewList {
    margin: var(--mainMargin) 0;
    
    .previewCard {
      display: block;
      position: relative;
      isolation: isolate;
      background-color: var(--card);
      padding: var(--mainPadding);
      border-radius: var(--borderRadius);
      transition:
        color .3s ease-in,
        background-color .3s ease-in;

      &:not(:last-child) {
        margin-bottom: var(--mainMargin);
      }
      
      &::after {
        content: "";
        z-index: -1;
        position: absolute;
        background-color: var(--card);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: var(--borderRadius);
        opacity: 0;
        transition: opacity .3s ease-in;
        filter: drop-shadow(1px 2px 3px var(--accent1Translucent));
      }

      &:is(:hover, :active, :focus-visible) {
        background-color: var(--card-hover);

        &::after {
          opacity: 1;
        }
      }

      p {
        margin: .25rem 0;
      }
      
      .mainHeader {
        font-size: var(--h3Size);
        line-height: var(--h3LineHeight);
      }

      .subHeader {
        font-size: var(--h5Size);
        line-height: var(--h5LineHeight);
      }
    }
  }

  .content {
    h2 {
      font-size: var(--h4Size);
      font-weight: var(--regular);
      line-height: var(--h4LineHeight);
    }
    
    h3 {
      font-size: var(--h5Size);
      font-weight: var(--regular);
      line-height: var(--h5LineHeight);
    }

    hr {
      border-top: 1px solid var(--card);
      border-bottom: 0;
    }

    blockquote {
      position: relative;
      padding: calc(var(--mainPadding) / 2) calc(var(--mainPadding) * 2.5);
      margin: var(--mainMargin) 0;
      border-radius: var(--borderRadius);
      background-color: var(--card);

      &::before {
        position: absolute;
        inset: 0 auto auto calc(var(--mainPadding) / 2);
        content: open-quote;
        font-size: var(--h1Size);
      }

      &::after {
        position: absolute;
        inset: auto calc(var(--mainPadding) / 2) 0 auto;
        content: close-quote;
        font-size: var(--h1Size);
      }
    }

    ul, ol {
      margin-left: calc(var(--mainMargin) / 2);
    }

    .contentHeader {
      margin: 0 0 var(--mainMargin) 0;

      h1, p {
        margin: 0;
      }
    }

    .directoryLink {
      display: block;
      margin: var(--mainMargin) 0;
      text-transform: capitalize;

      svg {
        display: inline-block;
      }
    }

    .externalLink  {
      svg {
        display: inline-block;
      }

      .citationNum {
        font-size: var(--h6Size);
        line-height: var(--h6LineHeight);
      }
    }

    .citationCard {
      margin: var(--mainMargin) 0;
      padding: var(--mainPadding) 0;
    }
  }
}
